/*主封面*/
.copyright{
    /* margin-top: 200px; */
    margin-bottom: 10px;
}
.home_background{
    background-color: beige;
    /* height: 800px; */
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url("pic/back_1.jpg");
    background-size: 100%;
}
.home_title{
    font-size: 96px;
    margin: 50px 0;
}
.weatherContainer{
    width: 40%;
    background-color: rgba(240,255,240,0.5);
}
.homeBtnCtn{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
}
.start{
    margin-right: 20px;
}
.titleFixed{
    position: fixed; 
    top: 0;
    width: 100%;
}


.a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.featureCard{
    /* max-width: 20%;
    min-width: 250px; */
    width: 250px;
    height: 400px;
    margin: 50px 0px;
    background-color: #f7f9f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.featureCard .word{
    width: 190px;
    overflow-wrap: break-word;
    font-size: 20px;
}
.featureCard img{
    margin: 30px 0;
    width: 150px;
    height: 150px;
}
.video{
    width: 900px;
}

